.ContainerAll { 
    width: 340px;
    margin: 0 auto;
    border: 1px solid grey;
    height: 600px;
    margin-top: 15px ;

}

.ContainerHeader {
        width: 100%;
        height: 25%;       
}

.ContainerHeaderTop {
        height: 42%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: rgb(53, 52, 52);
        font-family: 'Lobster', cursive;
}

.ContainerHeaderTop span { 
    padding-top: 8px;
}

.ContainerHeaderBot { 
    height: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(87, 86, 84);
}

.ContainerHeaderBot div { 
  width: 70%;
}

.ContainerBtn{ 
    padding-top: 10px;
}

.btn {
    width: 100%;
    background-color: rgb(38, 102, 187);
    color: white;
    border-radius: 4px;
    border: none;
    height: 27px;
    font-size: 12px;
    box-shadow: none;
}








.ContainerForm {
    width: 100%;
    height: 55%;
    background-color: blue;
}

.ContainerFooter {
    width: 100%;
    height: 25%;
    background-color: green;
}
