.ResponsiveContainer { 
  border-top: 1px solid #585858;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255)  ;
}
/* .ResponsiveIcon */

.Ricon  {
    font-size: 25px;
    color: black;
}


.Ricona  {
    color: black;
    font-size: 25px;
    padding-left: 12px;
}

.Ricone  {
    font-size: 25px;
    color: black;
    padding-right: 12px;
}