.ContainerNav { 
    display: flex;
    justify-content: space-between;
    height: 45px;
    border-bottom: 0.01rem solid grey;
}

.ContainerTitle {
    width: 33%;
    padding-left: 33px;
    padding-top: 8px;
}

.ContainerTitle span { 
    font-size: 26px;
    font-weight: bold;
     color: rgb(53, 52, 52);
    font-family: 'Lobster', cursive;

}


.ContainerSearch {
    width: 33%;
    padding-top: 8px;
    border: 0.01 rem solid rgb(207, 202, 202);
    padding-left: 125px;
}

.ContainerSearch input { 
    width: 223px;
    height: 20px;
}

.ContainerSearch input::placeholder { /* CSS Standard */
    text-align: center;
    font-size: 14px;
}

.ContainerIcons {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

.ContainerIcons div { 
    width: 35px;
    padding-top: 12px;
    padding-left: 15px;
}

.icon { 
    font-size: 30px;
}





/* Responsive */
.ContainerResponsive { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    /* margin-top: 180px; */


}

.ResponsiveTitle { 
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
     color: rgb(53, 52, 52);
    font-family: 'Lobster', cursive;
}

.ResponsiveTitle span { 
    padding-left: 45px;
}
.ResponsiveIcons { 
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;

}
.Ricon { 
    font-size: 20px;
}

.profileimg {
    width: 100%;
    height: 95%;
    border-radius: 50%;
}