.ContainerProfile { 
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;  
    margin: 0 auto;
    margin-top: 20px;
}




.HeaderProfile { 
    width: 100%;
    height: 200px;
    border-top:0.02rem solid rgb(185, 182, 182); 
    border-right:0.02rem solid rgb(185, 182, 182); ;
    border-left:0.02rem solid rgb(185, 182, 182); ;
    display: flex;
    margin: 0 auto;
}

.ContainerImg { 
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerImg img { 
    width: 60%;
    height: 75%;
    border-radius: 50%;
}




.ContainerData { 
    width: 68%;
  
}

.top { 
    display: flex; 
    height: 30%;
    padding-left: 12px;
}

.top span { 
    font-size: 26px;
    margin-right: 6px;
}

.top button { 
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: white;
    border: 0.02rem solid rgb(185, 182, 182);
    width: 120px;
    cursor: pointer;
}


.top div {
    margin-top: 9px; 
    align-items: center;
    font-size: 25px;
    margin-right: 10px;
}


.mid {
    display: flex; 
    height: 30%;
    padding-left: 12px;
}

.mid div { 
    margin-right: 30px;
    padding-top: 10px;
}

.bot { 
    display: flex; 
    height: 40%;
    padding-left: 12px;
}

.bot div { 
    margin-right: 15px;
}

.hash { 
    color: rgb(39, 39, 177)
}



.BodyProfile{ 
    width: 100%;
    height: 400px;
    border: 0.01rem solid rgb(226, 223, 223);
    margin: 0 auto;  
}

.BodyMenu { 
    display: flex;
    width: 100%;
    justify-content: center;
    height: 45px;
    align-items: center;
}

.BodyMenu div { 
    width: 160px;
    font-size: 17px;
    color: rgb(167, 161, 161);
}


.BodyPosts {
    display: flex;
    justify-content: space-between;
}

.ImgCont { 
    width: 31%;
    height: 270px;
}

.ImgCont img { 
    width: 100%;
    height: 100%;
}