
@media (max-width: 450px) {
    .SearchResponsive {
        width: 100%;
        height: 100vh;
    }
    .SearchResponsiveTop { 
      height: 7%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .SearchResponsiveTop input { 
        width: 92%;
        height: 75%;
        background-color: rgb(231, 231, 231);
        border-radius: 8% ;
        border: none;
        font-size: 25px ;
        /* padding-left: 25px; */
    }
    input::placeholder {
        color: #999;
        font-style:initial;
        font-size: 20px;
        padding-left: 14px;
      }
   
    .SearchResponsiveBot { 
        height: 93%;
        width: 100%;
    }
    .Container { 
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Container div { 
        width: 33%;
        height: 98.5%;
    }
    .Container img { 
        width: 100%;
        height: 100%;
    }

 }